.seleccionUbicacionContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10vh 3em;
	font-size: 10px;
	font-family: "Montserrat";
	text-align: center;
	gap: 1em;
}
.seleccionUbicacionContainer__header__h2 {
	font-size: 3.2em;
}
.seleccionUbicacionContainer__p {
	max-width: 550px;
	font-size: 2.2em;
	text-wrap: balance;
	font-weight: 450;
}
.seleccionUbicacionContainer__optContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 5vh;
	padding-top: 4vh;
}
@media (max-width: 650px) {
	.seleccionUbicacionContainer {
		font-size: 8px;
		gap: 4vh;
	}
	.seleccionUbicacionContainer__optContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 350px;
		gap: 6vh;
		padding-top: 0px;
	}
}
@media (max-width: 450px) {
	.seleccionUbicacionContainer {
		font-size: 6.5px;
	}
}
