.cercanosAUnaDireccionContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10vh 3em;
	font-size: 10px;
	font-family: "Montserrat";
	text-align: center;
	gap: 1em;
}
.cercanosAUnaDireccionContainer__header__h2 {
	font-size: 3.2em;
}
.cercanosAUnaDireccionContainer__p {
	max-width: 550px;
	font-size: 2.2em;
	text-wrap: balance;
	font-weight: 450;
}
.cercanosAUnaDireccionContainer__optContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 5vh;
	padding-top: 20px;
}
.searchInputContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 20px 0px;
}
.searchInputContainer__input {
	padding: 20px;
	border: 2px solid black;
	background-color: white;
	border-radius: 30px;
	width: 90%;
	font-family: "Montserrat";
	font-size: 2em;
}

.searchInputContainer__errorMsg {
	position: absolute;
	bottom: -10px;
	color: rgb(255, 0, 0);
	font-size: 2em;
	font-weight: 500;
}
/* Ventana flotante confirmacion de usuario */
.confirmacionContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 10vh;
	background-color: rgba(255, 255, 255, 0.695);
	backdrop-filter: blur(10px);
	z-index: 100;
}
.confirmacionContainer__h3 {
	font-family: "Montserrat";
	font-size: 2em;
	text-wrap: balance;
	font-weight: 600;
}
.confirmacionContainer__h3_direccion {
	color: #b541fc;
	font-weight: 800;
}
.confirmacionContainer__btnsContainer {
	display: flex;
	justify-content: center;
	padding-top: 18px;
	gap: 20px;
}
.confirmacionContainer__btnsContainer__btn {
	font-size: 2.8em;
	width: 2.6em;
	height: 2.5em;
	max-width: 68px;
	max-height: 58px;
	border-radius: 5px;
	color: white;
	background: radial-gradient(circle, rgb(7, 206, 0), rgb(5, 165, 0));
	text-decoration: none;
	font-weight: 700;
	text-shadow: 1px 1px 1px #00000071, -1px -1px 1px #00000071,
		1px -1px 1px #00000071, -1px 1px 1px #00000071;
	border: 2px solid black;
	box-shadow: inset 0px 0px 4px black;
	filter: brightness(1) contrast(1) drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.6));
	transition: filter 0.3s linear;
	cursor: pointer;
}
.confirmacionContainer__btnsContainer__btn__cancel {
	background: radial-gradient(circle, rgb(255, 0, 0), rgb(139, 0, 0));
}
.confirmacionContainer__btnsContainer__btn:hover {
	box-shadow: inset 0px 0px 8px black;
	filter: brightness(1.1) contrast(1.1)
		drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
	transition: filter 0.3s linear;
}

@media (max-width: 650px) {
	.cercanosAUnaDireccionContainer {
		font-size: 8px;
		gap: 1em;
	}
	.cercanosAUnaDireccionContainer__optContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 350px;
		gap: 6vh;
		padding-top: 20px;
	}
}

@media (max-width: 450px) {
	.cercanosAUnaDireccionContainer {
		font-size: 6.5px;
	}
	.confirmacionContainer__btnsContainer__btn {
		width: 56px;
		height: 48px;
	}
}
