:root {
	--backgroundGlobal: radial-gradient(circle, #ffffff, #d1d1d1);
	--backgroundTitulo: linear-gradient(to right, #b541fc, #9e00ff);
	--backgroundComenzarBuscarBtn: radial-gradient(circle, #c86fff, #ba49ff);
	--backgroundColorFlechaBtn: rgba(211, 140, 255, 0.5);
	--backgroundOpcionesColor: linear-gradient(to top, #ffcf5b, #ffba13);
	--backgroundVolverBtn: radial-gradient(circle, #874dab, #8d36c2);
}
@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}
#root {
	padding-bottom: 30px;
}
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body {
	position: relative;
	min-height: 100vh;
	background: var(--backgroundGlobal);
}

.imagenFondoGlobal {
	position: fixed;
	width: 100%;
	max-width: 1400px;
	height: 100%;
	max-height: 700px;
	object-fit: contain;
	object-position: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}
/* Botones amarillos para las opciones */
.optionYellowBtn {
	width: 100%;
	max-width: 600px;
	min-height: 62px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.8em;
	border: 2px solid black;
	background: var(--backgroundOpcionesColor);
	font-family: "Montserrat";
	font-size: 2em;
	font-weight: 650;
	text-decoration: none;
	color: black;
	cursor: pointer;
	box-shadow: inset 0px 0px 2px black;
	filter: brightness(1) contrast(1) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
	transition: filter 0.3s linear;
}
.optionYellowBtn:hover {
	box-shadow: inset 0px 0px 8px black;
	filter: brightness(1.1) contrast(1.1)
		drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
	transition: filter 0.3s linear;
}
/* Para las notas */
.asideNota {
	margin: 10px;
	font-size: 1.6em;
	font-family: "Montserrat";
}
/* Boton volver */
.volverBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: var(--backgroundVolverBtn);
	border: 2px solid black;
	box-shadow: inset 0px 0px 1px black;
	font-family: "Montserrat";
	font-size: 2.4em;
	font-weight: 700;
	color: white;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000,
		-1px 1px 1px #000;
	filter: brightness(1) contrast(1) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
	transition: filter 0.3s linear;
	cursor: pointer;
}
.volverBtn:hover {
	box-shadow: inset 0px 0px 2px black;
	filter: brightness(1.1) contrast(1.1)
		drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6));
	transition: filter 0.3s linear;
}
.absoluteTopLeft {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 10;
}

.loaderMainContainer {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	color: black;
	z-index: 100;
}
