.producto {
	display: flex;
	width: 100%;
	border: 1px solid black;
	box-shadow: 1px 1px 4px black;
	background-color: white;
	position: relative;
}
.producto__precioImgContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.producto__precioImgContainer__precio {
	font-size: 2.4em;
	font-size: min(24px);
	font-weight: 750;
	width: 100%;
	background: linear-gradient(to top, #1ac200, #20f100);
	color: white;
	text-shadow: 1px 1px 0.5px black, -1px -1px 0.5px black, 1px -1px 0.5px black,
		-1px 1px 0.5px black;
	border-right: 1px solid black;
}
.producto__precioImgContainer__img,
.skeletonImage {
	width: 250px;
	height: 100%;
	padding: 10px;
	aspect-ratio: 1/1;
	object-fit: contain;
	object-position: center center;
	border: 1px solid black;
	background-color: white;
	border-left: 0px;
	border-bottom: 0px;
	filter: brightness(1.1) contrast(1.1);
	box-shadow: inset 0px 0px 10px 0px black;
}

.skeletonImage {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	animation: parpadeo 1.5s ease-in-out infinite;
	background-image: url(../../../../assets/img/skeleton_img_loadpng.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80% 70%;
	font-family: "Montserrat";
	font-size: 2em;
	font-weight: 700;
}

@keyframes parpadeo {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

.producto__datos {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	overflow-x: hidden;
}

.producto__datos__nombreProducto {
	width: 100%;
	background: var(--backgroundOpcionesColor);
	border-bottom: 1px solid black;
	padding-left: 10px;
	text-align: left;
	font-size: 2.4em;
	text-wrap: balance;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	overflow: hidden;
	hyphens: auto;
}
.producto__datos__nombreSupermercado {
	display: flex;
	align-items: center;
	justify-content: left;
	flex-wrap: wrap;
	gap: 6px;
	font-size: 1.6em;
	padding-left: 18px;
	font-weight: 450;
	width: 100%;
	background-color: rgba(243, 226, 255, 0.391);
}
.producto__datos__nombreSupermercado__logo {
	width: 100px;
	height: 60px;
	object-fit: contain;
	object-position: left;
}

.producto__datos__todasSusSucursalesTitulo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	width: 100%;
	font-size: 1.6em;
	padding-left: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	font-weight: 450;
	text-align: left;
	background-color: rgba(243, 226, 255, 0.391);
}
.producto__datos__supermercadoCercano {
	font-size: 1.6em;
	padding-left: 18px;
	padding-right: 6px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 450;
	text-align: left;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-width: 1px 0px;
	background-color: rgba(213, 149, 255, 0.391);
}
.producto__datos__supermercadoCercano__distancia {
	font-weight: 600;
}

.producto__datos__todasSucursalesTitulo__btn {
	padding: 5px;
	border: 2px solid black;
	background: var(--backgroundOpcionesColor);
	font-family: "Montserrat";
	font-size: 1.2em;
	font-weight: 500;
	text-decoration: none;
	color: black;
	cursor: pointer;
	box-shadow: inset 0px 0px 2px black;
	filter: brightness(1) contrast(1) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
	transition: filter 0.3s linear;
}
.producto__datos__todasSucursalesTitulo__btn:hover {
	box-shadow: inset 0px 0px 2px black;
	filter: brightness(1.1) contrast(1.1)
		drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6));
	transition: filter 0.3s linear;
}
.producto__datos__todasSusSucursalesContainer {
	width: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	background-color: rgba(243, 226, 255, 0.391);
	padding-left: 52px;
	padding-top: 10px;
	padding-right: 8px;
	font-size: 1.6em;
	text-align: left;
	list-style: circle;
}

.producto__datos__containerBtn {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-top: auto;
	padding-top: 10px;
}
.producto__datos__containerBtn__btnVerProducto {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	padding: 6px;
	background: var(--backgroundComenzarBuscarBtn);
	color: white;
	font-size: 2em;
	text-decoration: none;
	font-weight: 700;
	text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000,
		-1px 1px 1px #000;
	border: 2px solid black;
	border-bottom: 0px;
	border-right: 0px;
	filter: brightness(1) contrast(1) drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.6));
	transition: filter 0.3s linear;
}
.producto__datos__containerBtn__btnVerProducto:hover {
	box-shadow: inset 0px 0px 8px black;
	filter: brightness(1.1) contrast(1.1)
		drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
	transition: filter 0.3s linear;
}

@media (max-width: 675px) {
	.producto__precioImgContainer__img,
	.skeletonImage {
		width: 200px;
	}
}
@media (max-width: 500px) {
	.producto__precioImgContainer__img,
	.skeletonImage {
		width: 150px;
	}
}
@media (max-width: 375px) {
	.producto__datos__nombreSupermercado,
	.producto__datos__supermercadoCercano,
	.producto__datos__todasSusSucursalesTitulo {
		padding-left: 10px;
	}
	.producto__datos__todasSusSucursalesContainer {
		padding-left: 32px;
		padding-top: 0px;
	}
	.producto__datos__nombreSupermercado__logo {
		object-fit: scale-down;
		object-position: top;
		width: 100%;
		height: 35px;
	}
}
@media (max-width: 335px) {
	.producto__datos__todasSusSucursalesTitulo {
		flex-direction: column;
		align-items: flex-start;
	}
}
